{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand ls" href="/">BlogBook</a>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/blogs">Blogs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/features">Features</a>
					</li>
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/addblog">Create Blog</a>
					</li>
					{% endif %}
				</ul>
				<form method="get" action='/search' class="d-flex">
					<input class="form-control mx-2" type="search" placeholder="Search" aria-label="Search"
						name="search" id="search">
					<button class="btn btn-outline-success mx-3" type="submit">Search</button>
				</form>
			</div>
		</div>

		{% if user.is_authenticated %}
		<button type="button" class="btn btn-primary mx-1">{{request.user}}</button>
		<a href="/logout" method="POST"><button type="button" class="btn btn-primary mx-1">Logout</button></a>
		{% else %}
		<button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal"
			data-bs-target="#loginmodal">Login</button>

		<div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="loginmodalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="loginmodalLabel">LOGIN</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="/login" method="POST">
							<div class="mb-3">
								<label for="username" class="form-label">Username</label>
								<input type="text" class="form-control" id="username" name="username"
									aria-describedby="emailHelp" required>
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">Password</label>
								<input type="password" class="form-control" id="password" name="password" required>
							</div>
							{% csrf_token %}
							<button type="submit" class="btn btn-primary">Login</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<button type="button" class="btn btn-secondary mx-2" data-bs-toggle="modal"
			data-bs-target="#signupModal">Signup</button>

		<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Signup</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="/signup" method="POST">
							<div class="mb-3">
								<label for="email" class="form-label">Email address</label>
								<input type="email" class="form-control" id="signupemail" name="email"
									aria-describedby="emailHelp" required>
								<div id="emailHelp" class="form-text">We'll never share your email with anyone else.
								</div>
							</div>
							<div class="mb-3">
								<label for="user" class="form-label">Username</label>
								<input type="text" class="form-control" id="signupusername" name="username"
									aria-describedby="emailHelp" required>
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">Password</label>
								<input type="password" class="form-control" id="signup-password" name="password"
									required>
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">Re enter Password</label>
								<input type="password" class="form-control" id="signup-password1" name="password1"
									required>
							</div>
							{% csrf_token %}
							<button type="submit" class="btn btn-primary">Signup</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</nav>

	{% for message in messages %}
	<h5>{{message}}</h5>
	{% endfor %}
	</div>
	<div class="container-fluid">
		{% block body %}{% endblock body %}
	</div>


</body>

</html>