{% extends 'base.html' %}

{% block title %}BlogBook{% endblock title %}



{% block body %}
<div class="container-fluid bg-dark text-light p-5">
    <div class="container bg-dark p-5">
        <h1 class="display-4 text-center">Welcome to BlogBook</h1>
        <hr>
		<h6 class="text-xxl-end"> Tired of so much data available on the Internet? </h6> 
		<h6 class="text-xxl-end"> Worry not, here you will find only curated content </h6>
    </div>
</div>
<div class="row">
	{% for feature in features %}
	<div class="col-sm-4">
		<div class="card border-dark mb-3 shadow p-3 mb-5 bg-body rounded">
			<div class="card-header">{{feature.title}}</div>
			<div class="card-body">
				<p class="card-text">{{feature.body}}</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock body %}